{% extends "padre/base_padre.html" %}

{% block title %}Información{% endblock %}

{% block body %}
<h3 class="fw-bold mb-4">
    <i class="bi bi-info-circle"></i> Informacion general
</h3>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <h5 class="fw-bold mb-3">
            <i class="bi bi-clock-history"></i> Horario de la escuelita
        </h5>

        <p class="mb-1">🕒 Sabados</p>
        <p class="mb-0">10:30 - 12:00 - 13:30</p>
    </div>
</div>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <h5 class="fw-bold mb-3">
            <i class="bi bi-cash-coin"></i> Pagos
        </h5>
        <ul>
            <li>La cuota mensual</li>
            <li>Debe enviar el comprobante</li>
            <li>La aprobación puede demorar hasta 24hs</li>
        </ul>
    </div>
</div>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <h5 class="fw-bold mb-3">
            <i></i> 🏆 Torneos
        </h5>
        <ul>
            <li>Contamos con torneos internos</li>
            <li>Las fechas se estaran informando de manera privada</li>
            <li>Sedes posibles: Lanus, La plata, Berazategui, Quilmes, etc.</li>
        </ul>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body text-center">
        <h5 class="fw-bold mb-3">
            <i class="bi bi-telephone"></i> Contacto
        </h5>
        <p class="mb-1"> WhatsApp: 11 3269-3789</p>
        <p class="mb-0">📍 Family Padel Club</p>
    </div>
</div>

{% endblock %}