{% extends "admin/base_admin.html" %}

{% block title %}Alumnos{% endblock %}

{% block body %}
<h3 class="fw-bold mb-4">
    <i class="bi bi-people"></i> Alumnos
</h3>

<div class="table-reponsive">
    <table class="table table-hover shadow-sm align-middle">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>

                <!--OCULTOS EN MOBILE-->
                <th class="d-none d-md-table-cell">DNI</th>
                <th class="d-none d-md-table-cell">Edad</th>

                <th>Turno</th>
                <th>Cuota del mes actual</th>
                <th class="text-center">Editar</th>
            </tr>
        </thead>

        <tbody>
            {% for item in alumnos_estado %}
            {% set alumno = item.alumno %}
            <tr>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.apellido }}</td>

                <!--OCULTOS EN MOBILE-->
                <td class="d-none d-md-table-cell">{{ alumno.dni }}</td>
                <td class="d-none d-md-table-cell">{{ alumno.edad }}</td>

                <td>
                    <span class="badge bg-secondary">
                        {{ alumno.turno }}
                    </span>
                </td>

                <td>
                    {% if item.estado == "pendiente" %}
                        <span class="badge bg-danger">❌ Pendiente</span>
                    {% elif item.estado == "enviado" %}
                        <span class="badge bg-warning text-dark">🟡 En revisión</span>
                    {% elif item.estado == "aprobado" %}
                        <span class="badge bg-success">🟢 Pagado</span>
                    {% endif %}
                </td>

                <td class="text-center">
                    <a href="{{ url_for('editar_alumno', id=alumno.id) }}"
                       class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}