{% extends "admin/base_admin.html" %}

{% block body %}

<h1 style="color:red;">DEPLOY NUEVO OK</h1>

<h3 class="fw-bold mb-4">
    <i class="bi bi-cash"></i> Pagos recibidos
</h3>

<div class="table-reponsive">
    <table class="table table-striped shadow-sm align-middle text-nowrap">
    <thead>
        <tr>
            <th>Alumno</th>
            <th class="d-none d-md-table-cell">DNI</th>
            <th class="d-none d-md-table-cell">Año</th>
            <th>Mes</th>
            <th class="d-none d-md-table-cell">Monto</th>
            <th>Estado</th>
            <th>Comprobante</th>
            <th>Acción</th>
        </tr>
    </thead>

    <tbody>
        {% for pago in pagos %}
        <tr>
            <td>{{ pago.alumno.apellido }} {{ pago.alumno.nombre }}</td>
            <td class="d-none d-md-table-cell">{{ pago.alumno.dni }}</td>
            <td class="d-none d-md-table-cell">{{ pago.anio }}</td>
            <td>{{ pago.mes_nombre }}</td>
            <td class="d-none d-md-table-cell">{{ pago.monto }}</td>
            <td>
                {% if pago.estado == "enviado" %}
                    🟡 En revisión
                {% elif pago.estado == "aprobado" %}
                    🟢 Aprobado
                {% endif %}
            </td>

            <td>
                {% if pago.comprobante %}
                <a href="{{ url_for('static', filename='comprobantes/' + pago.comprobante) }}"
                   target="_blank"
                   class="btn btb-sm btn-outline-primary">
                    Ver
                </a>
                {% endif %}
            </td>

            <td>
                {% if pago.estado != "aprobado" %}
                <a href="{{ url_for('aprobar_pago', id=pago.id) }}"
                   class="btn btn-sm btn-success">
                    Aprobar
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>


{% endblock %}