{% extends './base.html' %}

{% block title %}Login Administrador{% endblock %}

{% block body %}
<section class="container my-5" style="max-width: 400px;">
    <h2 class="text-center fw-bold mb-4">Acceso al sistema 🔐</h2>

    <p class="text-center text-muted mb-4">
        Ingreso para profesores y familias de la escuelita
    </p>


    <form method="POST" class="card p-4 shadow-sm mb-5" style="max-width: 400px; margin: auto;">
        <div class="mb-3">
            <label class="form-label">DNI</label>
            <input type="text" name="dni" class="form-control" required>
            <small class="text-muted">
                DNI del profesor o del alumno
            </small>
        </div>

        <div class="mb-4">
            <label class="form-label">Clave de acceso</label>
            <input type="password" name="clave" class="form-control" required>
        </div>

        <button class="btn btn-warning w-100 fw-bold">
            Ingresar
        </button>
    </form>

    <!--BLOQUE INFORMATIVO-->
    <div class="text-center mt-5">
        <h4 class="fw-bold mb-3">¿Quiéne puede ingresar?</h4>
        <p class="text-muted">
            Este accesso está destinado a profesore y familias de alumnos registrados
            en la escuelita
        </p>
    </div>

    <!--FUNCIONALIDADES-->
    <div class="row mt-4">
        <div class="col-md-6 mb-3">
            <div class="card h-100 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="fw-bold">👨‍🏫 Profesores</h5>
                    <p class="text-muted mb-0">
                        Gestión de alumnos, organización de turnos y control de pagos.
                    </p>
                </div>
            </div>
        </div>
        
         <div class="col-md-6 mb-3">
            <div class="card h-100 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="fw-bold">👨‍👩‍👧 Familias</h5>
                    <p class="text-muted mb-0">
                        Consulta de información del alumno y estado de pagos.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}